h1 {
    color: #0000ff;
    font-size: 26px;
    font-family: Verdana, sans-serif;
}
h2 {
    color: #44a9a9;
}

body {
    font-size: 16px;
    color: #000000;
    font-family: Times, Arial;

}

#menu{
    color: #1f4e79;
    font-weight : bold;
    font-size : 23px;
}

td{
    background-color: #f4f6f8;
}

.td1  {
    background-color: #c19875;
}
.td2  {
    background-color: #f2e3bc;
}

.Annee {
    font-size: 26px;

}
a {
 color: #1f4e79;
 font-weight : bold;
 font-size: 23px;
}

#deroulant{
     border-spacing : 150px 10px;
}

body {
  background-image: url("images/Background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}