h1 {
    color: #618985;
}
h2 {
    color: #96bbbb;
}

body {
    font-size: 16px;
    color: #414535;
    font-family: Times, Arial;

}

.td1  {
    background-color: #c19875;
}
 .td2  {
    background-color: #f2e3bc;
}