h1 {
    color: #97D8B2;
    font-size: 26px;
    font-family: Verdana, sans-serif;
}
h2 {
    color: #A5CBC3;
}

body {
    font-size: 16px;
    color: #ffffff;
    font-family: Times, Arial;
    background-image: url("Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#menu{
    color: #1f4e79;
    font-weight : bold;
    font-size : 23px;
    background-color: rgba(0, 0, 0, 0);
}

td{
    background-color: #f4f6f8;
    background-color: rgba(0, 0, 0, 0);
}

.td1  {
    background-color: rgba(0, 0, 0, 0);
}
.td2  {
    background-color: rgba(0, 0, 0, 0);
}

.Annee {
    font-size: 26px;

}
a {
    color: #a2cbf1;
    font-weight : bold;
    font-size: 23px;
    
}

#deroulant{
     border-spacing : 150px 10px;
}